body {
  font-family: 'Open Sans', sans-serif;
  padding: 40px 30px 40px 30px;
}

#name {
  font-size: 48px;
  padding-left: 120px;
  font-weight: lighter;
  display: inline-block;
  /*text-align: center;*/
}

li {
  padding: 10px 10px;
  display: inline;
  text-align: center;
  font-weight: lighter;
}

#navbar {
  padding-left: 72px;
  /*text-align: center;*/
}

.content {
  padding-left: 120px;
  padding-right: 120px;
}

.content .imgContainer {
  float: left;
  width: 120px;
  height: 0px;
}

.content .textContainer {
  padding-left: 340px;
  padding-right: 250px;
  float: left;
  width: 630px;
}

.content img {
  float: left;
  margin-top: 5px;
}

a {
  color: gray;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
}

hr {
  display: block;
  margin-left: 118px;
  margin-right: 118px;
  border-style: inset;
  border-width: 1px;
}

p {
  font-weight: lighter;
}
