/*@import url('https://fonts.googleapis.com/css?family=Roboto');*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  /*font-family: 'Roboto Mono', monospace;*/
  font-family: 'Roboto';
  font-weight: 200;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #96979c;
  text-decoration: none;
  font-weight: bold;
  text-decoration: underline;
}

a:hover {
  color: #eb4888;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}
